.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.upper {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    justify-content: space-between;
}

.left {
    flex-direction: column;
    color: #f9faf8;
    flex-wrap: wrap;
    padding-left: 100px;    

}

.right {
    padding-right: 100px;
}

.middle {
    flex-direction: column;
}

.illustration_title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 30px;
}

.illustrations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.lower {
    flex-direction: column;
    background-color: #e5e7eb;
}
.quote {
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 50px;
    font-size: 30px;
}

.quoter {
    align-self: flex-end;
}

.bottom {
    display: flex;
    flex-direction: row;

}

.action_time {

}

.signup2 {

}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 25px;
}